@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --main-color: #4682b4;
  --color-dark: #1d2231;
  --text-grey: #8390a2;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.sidebar {
  width: 20%;
  height: 100%;
  background-color: var(--main-color);
  position: absolute;
  /* float: left; */
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.sidebar a {
  display: flex;
  color: var(--color-dark);
  padding: 20px;
  text-decoration: none;
}

.container-sidebar a i {
  font-size: 25px;
}

.container-sidebar a:hover {
  color: var(--main-color);
  background: var(--color-dark);
  transition: all 0.5s ease-in-out;
}

main {
  width: 80%;
  float: right;
}

.banner {
  width: 50%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  font-size: 20px;
}

@media only screen and (max-width: 680px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;

    /* justify-content: space-around; */
  }

  .container-sidebar {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .container-sidebar a {
    font-size: 13px;
  }

  .container-sidebar a i {
    font-size: 20px;
  }

  main {
    width: 100%;
    height: auto;
    float: none;
  }
}
