:root {
  --main-color: #4682b4;
  --color-dark: #1d2231;
  --text-grey: #8390a2;
}

main > h1 {
  text-align: center;
}

input[type="submit"] {
  width: 20%;
  height: 45px;
}

input[type="text"] {
  width: 70%;
  height: 40px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid var(--color-dark);
}

tr {
  height: 50px;
  cursor: pointer;
}

tbody tr:nth-child(odd) {
  background: var(--main-color);
  color: var(--color-dark);
}

tbody tr:hover {
  background: var(--text-grey);

  transition: all 0.5s ease-in-out;
}

.badge {
  background-color: gold;
  padding: 5px 10px;
  border-radius: 20px;
}
