@import url("./style.css");

:root {
  --main-color: #4682b4;
  --color-dark: #1d2231;
  --text-grey: #8390a2;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-card {
  border: 1px solid var(--color-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  /* width: 50%; */
  height: 300px;
  margin: 10px 0;
}

.profile-card button {
  width: 100%;
  height: 40px;

  background: var(--main-color);
  color: var(--color-dark);
  border: none;
  cursor: pointer;

  transition: all 0.5s ease-out;
}

.profile-card button:hover {
  background: var(--color-dark);
  color: var(--main-color);

  transition: all 0.5s ease-in;
}

.icon {
  width: 100px;
  border: 1px solid var(--color-dark);
  border-radius: 50%;

  margin: 10px 0;
}

.profile-description {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 10px 20px;
}
